<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Nouvelle entrée</title>
</head>

<body>
    <h1>Entrez une nouvelle dépense :</h1>
    <h2>{{ last_draft }}</h2>
    {% if submitted %}
    <p>Votre nouvelle dépense a bien été enregistrée.</p>
    {% else %}
    <br />
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Entrez les informations suivantes :</h2>
        {{ expense_form.as_p }}
        <br />
        <input type="submit" value="Enregistrez cette dépense">
    </form>
    {% endif %}
</body>
<br />
<br />
<br />
<footer>
    <a href="{% url 'draft' %}">Création du budget prévisionnel</a>
    <a href="{% url 'wallet-change' %}">Change de devises</a>
    <a href="{% url 'register' %}">Compte</a>
    <a href="{% url 'wallet-creation' %}">Création de wallet</a>
    <a href="{% url 'select-draft' %}">Modification d'un budget prévisionnel</a>
    <a href="{% url 'select-wallet' %}">Modification d'un wallet</a>
    <a href="{% url 'monitoring' %}">Monitoring</a>
    <a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</a>
</footer>

</html>