<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Change de devises</title>
</head>

<body>
    <h1>Change de devises pour :</h1>
    <h2>{{ last_draft }}</h2>
    {% if submitted %}
    <p>Votre nouveau change de devises a bien été enregistré.</p>
    {% else %}
    <br />
    <form action="" method="post">
        {% csrf_token %}
        <h2>Entrez les informations suivantes :</h2>
        {{ change_form.as_p }}
        </br>
        <input type="submit" value="Enregistrez ce change de devises">
    </form>
    {% endif %}
</body>
<br />
<br />
<br />
<footer>
    <div><a href="{% url 'draft' %}">Création du budget prévisionnel</div>
    <div><a href="{% url 'register' %}">Compte</div>
    <div><a href="{% url 'wallet-creation' %}">Création de wallet</div>
    <div><a href="{% url 'expenses' %}">Dépenses</div>
    <div><a href="{% url 'edit-draft' %}">Modification du budget prévisionnel</div>
    <div><a href="{% url 'monitoring' %}">Monitoring</div>
    <div><a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</div>
</footer>

</html>