<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Modification d'un wallet</title>
</head>

<body>
    <h1>Votre "{{ selected_wallet }}" à modifier</h1>
    <br />
    {% if submitted %}
    <p>Votre wallet a bien été modifié.</p>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        {{ edit_wallet_form.as_p }}
        <br />
        <input type="submit" value="Validez les modifications">
    </form>
    {% endif %}
</body>
<br />
<br />
<br />
<footer>
    <a href="{% url 'wallet-change' %}">Change de devises</a>
    <a href="{% url 'register' %}">Compte</a>
    <a href="{% url 'wallet-creation' %}">Création de wallet</a>
    <a href="{% url 'expenses' %}">Dépenses</a>
    <a href="{% url 'select-wallet' %}">Modification du solde initial d'un wallet</a>
    <a href="{% url 'monitoring' %}">Monitoring</a>
    <a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</a>
</footer>

</html>