<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Sélection d'un wallet</title>
</head>

<body>
    <h1>Vos wallets rattachés au "{{ last_draft }}"</h1>
    <br />
    <form action="" method="post">
        {% csrf_token %}
        <h2>Sélectionnez un wallet à modifier :</h2>
        {{ select_wallet_form.as_p }}
        <br />
        <input type="submit" value="Validez">
    </form>
</body>
<br />
<br />
<br />
<footer>
    <a href="{% url 'draft' %}">Création du budget prévisionnel</a>
    <a href="{% url 'wallet-change' %}">Change de devises</a>
    <a href="{% url 'register' %}">Compte</a>
    <a href="{% url 'wallet-creation' %}">Création de wallet</a>
    <a href="{% url 'expenses' %}">Dépenses</a>
    <a href="{% url 'select-draft' %}">Modification d'un budget prévisionnel</a>
    <a href="{% url 'monitoring' %}">Monitoring</a>
    <a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</a>
</footer>

</html>