<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Wallet creation</title>
</head>

<body>
    <h1>Welcome to the Wallet creation page.</h1>
    {% if submitted %}
    <p>Votre nouveau wallet a bien été enregistré.</p>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        <h2>Création de wallet : entrez les informations suivantes.</h2>
        {{ wallet_form.as_p }}
        </br>
        <input type="submit" value="Enregistrez ce wallet">
    </form>
    {% endif %}
</body>
<br />
<br />
<br />
<footer>
    <div><a href="{% url 'draft' %}">Wallet</div>
    <div><a href="{% url 'expenses' %}">Opérations</div>
    <div><a href="{% url 'monitoring' %}">Monitoring</div>
    <div><a href="{% url 'register' %}">Compte</div>
</footer>

</html>