<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Retrait ATM/DAB</title>
</head>

<body>
    <h1>Enregistrement d'un retrait ATM ou DAB</h1>
    <h2>{{ last_draft }}</h2>
    {% if submitted %}
    <p>Votre nouveau retrait a bien été enregistré.</p>
    {% else %}
    <br />
    <form action="" method="post">
        {% csrf_token %}
        <h2>Entrez les informations suivantes :</h2>
        {{ withdrawal_form.as_p }}
        </br>
        <input type="submit" value="Enregistrez ce retrait">
    </form>
    {% endif %}
</body>
<br />
<br />
<br />
<footer>
    <a href="{% url 'draft' %}">Création du budget prévisionnel</a>
    <a href="{% url 'wallet-change' %}">Change de devises</a>
    <a href="{% url 'register' %}">Compte</a>
    <a href="{% url 'wallet-creation' %}">Création de wallet</a>
    <a href="{% url 'expenses' %}">Dépenses</a>
    <a href="{% url 'select-draft' %}">Modification d'un budget prévisionnel</a>
    <a href="{% url 'monitoring' %}">Monitoring</a>
</footer>

</html>