<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Retrait ATM/DAB</title>
</head>

<body>
    <h1>Creation d'un wallet pour :</h1>
    <h2>{{ last_draft }}</h2>
    {% if submitted %}
    <p>Votre nouveau wallet a bien été enregistré.</p>
    {% else %}
    <br />
    <form action="" method="post">
        {% csrf_token %}
        <h2>Création de wallet : entrez les informations suivantes.</h2>
        {{ wallet_form.as_p }}
        </br>
        <input type="submit" value="Enregistrez ce wallet">
    </form>
    {% endif %}
</body>
<br />
<br />
<br />
<footer>
    <div><a href="{% url 'draft' %}">Budget prévisionnel</div>
    <div><a href="{% url 'expenses' %}">Opération - Transaction</div>
    <div><a href="{% url 'monitoring' %}">Monitoring</div>
    <div><a href="{% url 'register' %}">Compte</div>
    <div><a href="{% url 'wallet-creation' %}">Création de wallet</div>
    <div><a href="{% url 'wallet-change' %}">Change de devises</div>
</footer>

</html>