<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Soldes</title>
</head>

<body>
    <h2>Soldes des différents "wallets" du {{ last_draft }}</h2>
    {% for wallet, balance in wallet_dict.items %}
    <div>
        {{ wallet }} a un solde après dépenses de : {{ balance|stringformat:".2f" }}
    </div>
    {% endfor %}
    <br />
    {% if diff %}
    <h3>Avec simmulations</h3>
    {% for wallet, balance in wallet_sim_dict.items %}
    <div>
        {{ wallet }} a un solde après dépenses de : {{ balance|stringformat:".2f" }}
    </div>
    {% endfor %}
    {% endif  %}
</body>
<br />
<br />
<br />
<footer>
    <a href="{% url 'draft' %}">Création du budget prévisionnel</a>
    <a href="{% url 'wallet-change' %}">Change de devises</a>
    <a href="{% url 'register' %}">Compte</a>
    <a href="{% url 'wallet-creation' %}">Création de wallet</a>
    <a href="{% url 'expenses' %}">Dépenses</a>
    <a href="{% url 'monitoring' %}">Monitoring</a>
    <a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</a>
</footer>

</html>