<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Liste des dépenses</title>
</head>

<body>
    <h1>Page de liste des dépenses</h1>
    <br />
    <h2>Classement par dates</h2>
    {% for expense in all_expenses_by_dates %}
    <div>
        {% if expense.simulation %}(Simulation){% endif %} {{ expense }}, du {{ expense.date }},
        pour un montant de : {{ expense.amount|stringformat:".2f" }}
        {{ expense.currency}}
        <br />photo : {{ expense.photo }}
    </div>
    {% endfor %}
    <br />
    <h2>Classement par catégories</h2>
    {% for expense in all_expenses_by_categories %}
    <div>
        {% if expense.simulation %}(Simulation){% endif %} {{ expense }}, de la catégorie
        {% if expense.category == 1 %}"Dépenses avant le départ"
        {% elif expense.category == 2 %}"Transports internationaux"
        {% elif expense.category == 3 %}"Transports nationaux"
        {% elif expense.category == 4 %}"Hébergements"
        {% elif expense.category == 5 %}"Nourriture"
        {% elif expense.category == 6 %}"Visites"
        {% elif expense.category == 7 %}"Activités"
        {% elif expense.category == 8 %}"Souvenirs"
        {% elif expense.category == 9 %}"Divers"{% endif %},
        pour un montant de : {{ expense.amount|stringformat:".2f" }} {{ expense.currency}}
        <br />photo : {% if expense.photo %}<a href="{{ expense.photo.url }}">{{ expense.photo }}
        </a>{% endif %}
    </div>
    {% endfor %}
</body>
<br />
<br />
<br />
<footer>
    <a href="{% url 'draft' %}">Création du budget prévisionnel</a>
    <a href="{% url 'wallet-change' %}">Change de devises</a>
    <a href="{% url 'register' %}">Compte</a>
    <a href="{% url 'wallet-creation' %}">Création de wallet</a>
    <a href="{% url 'expenses' %}">Dépenses</a>
    <a href="{% url 'monitoring' %}">Monitoring</a>
    <a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</a>
</footer>

</html>