<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Monitoring</title>
</head>

<body>
    <h1>Welcome {{ user }},</h1>
    <h2>Informations sur ton {{ last_draft }}</h2>
    <h4>Cliquez sur un des liens ci-dessous.</h4>
    <main>
        <div><a href="{% url 'monitoring-wallet-balance' %}">Solde des wallets</div>
    </main>
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
<footer>
    <div><a href="{% url 'draft' %}">Budget prévisionnel</div>
    <div><a href="{% url 'wallet-creation' %}">Création de wallet</div>
    <div><a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</div>
    <div><a href="{% url 'wallet-change' %}">Change de devises</div>
    <div><a href="{% url 'expenses' %}">Dépenses</div>
    <div><a href="{% url 'register' %}">Compte</div>
</footer>

</html>