<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Catégories - Pour aujourd'hui</title>
</head>

<body>
    <h2>Aujourd'hui...</h2>
    <h2>Budget consommé aujourd'hui par catégories, sans simulation : </h2>
    {% for category, amount in expenses_today_cat_dict.items %}
    <div>
        Budget consommé aujourd'hui pour la catégorie "{{ category }}" : {{ amount|floatformat:2 }}
    </div>
    {% endfor %}
    <br />
    <h2>Pourcentage de consommation par catégorie, sans simulation :</h2>
    {% for category, percent in category_today_ratio_dict.items %}
    {% if percent %}
    <div>
        Pourcentage de consommation pour la catégorie "{{ category }}" : {{ percent|floatformat:2 }} %
        {% else %}
        Pourcentage de consommation pour la catégorie "{{ category }}" : Pas de budget prévisionnel pour cette
        catégorie.
        {% endif %}
    </div>
    {% endfor %}
    <br />
    <h3>Budget prévisionnel global par jour (hors transports internationaux et dépenses avant le départ) :
        {{ draft_global_day|floatformat:2 }}</h3>
    <h3>Budget consommé global aujourd'hui : {{ expenses_today_global|floatformat:2 }}</h3>
    <h3>Pourcentage de consommation globale du budget prévisionnel journalier :
        {{ global_day_ratio|floatformat:2 }} %</h3>
    <br />

    <!--When there are simulations-->
    {% if expenses_today_cat_sim_dict != expenses_today_cat_dict %}
    <h2>Budget consommé aujourd'hui par catégories, avec simulations : </h2>
    {% for category, amount in expenses_today_cat_sim_dict.items %}
    <div>
        Budget consommé aujourd'hui pour la catégorie "{{ category }}" : {{ amount|floatformat:2 }}
    </div>
    {% endfor %}
    <br />
    <h2>Pourcentage de consommation par catégorie, avec simulations :</h2>
    {% for category, percent in category_today_sim_ratio_dict.items %}
    {% if percent %}
    <div>
        Pourcentage de consommation pour la catégorie "{{ category }}" : {{ percent|floatformat:2 }} %
        {% else %}
        Pourcentage de consommation pour la catégorie "{{ category }}" : Pas de budget prévisionnel pour cette
        catégorie.
        {% endif %}
    </div>
    {% endfor %}
    <br />
    <h3>Budget prévisionnel global par jour (hors transports internationaux et dépenses avant le départ) :
        {{ draft_global_day|floatformat:2 }}</h3>
    <h3>Budget consommé global aujourd'hui : {{ expenses_today_global_sim|floatformat:2 }}</h3>
    <h3>Pourcentage de consommation globale du budget prévisionnel journalier :
        {{ global_day_sim_ratio|floatformat:2 }} %</h3>
    {% endif %}
</body>
<br />
<br />
<br />
<footer>
    <a href="{% url 'draft' %}">Création du budget prévisionnel__</a>
    <a href="{% url 'wallet-change' %}">__Change de devises__</a>
    <a href="{% url 'register' %}">__Compte__</a>
    <a href="{% url 'wallet-creation' %}">__Création de wallet__</a>
    <a href="{% url 'expenses' %}">__Dépenses__</a>
    <a href="{% url 'select-draft' %}">__Modification d'un budget prévisionnel__</a>
    <a href="{% url 'select-wallet' %}">__Modification d'un wallet__</a>
    <a href="{% url 'monitoring' %}">__Monitoring>__</a>
    <a href="{% url 'wallet-withdrawal' %}">__Retrait ATM/DAB</a>
</footer>

</html>