<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Catégories - Pour aujourd'hui</title>
</head>

<body>
    <h2>Aujourd'hui...</h2>
    <h2>Page Catégories</h2>
    {% for category, amount in expenses_today_cat_dict.items %}
    <div>
        Budget consommé aujourd'hui pour la catégorie "{{ category }}" : {{ amount|stringformat:".2f" }}
    </div>
    {% endfor %}
    <br />
    <h2>Consommation par catégorie :</h2>
    {% for category, percent in category_today_ratio_dict.items %}
    {% if percent %}
    <div>
        Pourcentage de consommation pour la catégorie "{{ category }}" : {{ percent|stringformat:".2f" }} %
        {% else %}
        Pourcentage de consommation pour la catégorie "{{ category }}" : Pas de budget prévisionnel pour cette
        catégorie.
        {% endif %}
    </div>
    {% endfor %}
    <br />
    <h3>Budget prévisionnel global par jour (hors transports internationaux et dépenses avant le départ):
        {{ draft_global_day }}</h3>
    <h3>Budget consommé global aujourd'hui : {{ expenses_today_global|stringformat:".2f" }}</h3>
    <h3>Pourcentage de consommation globale du budget prévisionnel journalier :
        {{ global_day_ratio|stringformat:".2f" }} %</h3>
</body>
<br />
<br />
<br />
<footer>
    <div><a href="{% url 'draft' %}">Création du budget prévisionnel</div>
    <div><a href="{% url 'wallet-change' %}">Change de devises</div>
    <div><a href="{% url 'register' %}">Compte</div>
    <div><a href="{% url 'wallet-creation' %}">Création de wallet</div>
    <div><a href="{% url 'expenses' %}">Dépenses</div>
    <div><a href="{% url 'edit-draft' %}">Modification du budget prévisionnel</div>
    <div><a href="{% url 'monitoring' %}">Monitoring</div>
    <div><a href="{% url 'wallet-withdrawal' %}">Retrait ATM/DAB</div>
</footer>

</html>